{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}


	<div class="container">
		<h1>Enregistrement</h1>
		<div class="row">
			<div>
				<ul>
					{{ form_start(registrationForm) }}
					<li>{{ form_row(registrationForm.pseudo) }}
					</li>
					<li>{{ form_row(registrationForm.email) }}
					</li>
					<li>{{ form_row(registrationForm.plainPassword) }}
					</li>
					<li>{{ form_row(registrationForm.agreeTerms) }}
					</li>
				</ul>

				<button class="cta btn">
					Register</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
