{% extends 'base.html.twig' %}

{% block title %}Army Lists{% endblock %}

{% block body %}

	<h1>{{ title }}</h1>

AFFICHER TOUTES LES LISTES D'ARMEES DE L'UTILISATEUR

	<div class="row mt-5">
		{% for userArmy in userArmies %}
			<section class="col-lg-6 col-md-6 col-sm-12">
				<h2>{{ userArmy.name }}</h2>
				<div class="metadata">
                </div>
				<a href="{{ path('army_show', {'slug': userArmy.slug}) }}" class="btn cta">Voir liste d'armée détaillée</a>
					<a href="{{ path('army_edit', {'slug': userArmy.slug}) }}" class="btn cta">Modifier votre armée</a>
			</section>
		{% endfor %}
	</div>

{#
	<div class="mt-3 col-6 offset-5">
		<nav class="pagination-sm">
			<ul class="pagination">
				{% for i in 1..((totalArticles/4)|round(0, 'ceil')) %}
					<li class="page-item">
						<a class="page-link" href="{{ path('article', { page: i }) }}">{{ i }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
#}

{% endblock %}