{% extends 'base.html.twig' %}


{% form_theme SelectFormCompo 'bootstrap_4_layout.html.twig' %}


{% block title %}Select your compo
{% endblock %}

{% block body %}

	<h1>Select the composition of your army</h1>

    {{ form_start(SelectFormCompo) }}
	{{ form_row(SelectFormCompo.user) }}
	{{ form_row(SelectFormCompo.name) }}
	{{ form_row(SelectFormCompo.army) }}
	{{ form_row(SelectFormCompo.army_points) }}
	<button type="submit" class="btn cta">
        Create army
        </button>
	{{ form_end(SelectFormCompo) }}

{% endblock %}
