{% extends 'base.html.twig' %}

{% block title %}Select your composition
{% endblock %}


{# 
<a href="{{ path('article_edit') }}" class="btn cta">Edit article</a>
#}

{% block body %}

    {{ form_start(SelectFormCompo) }}
	{{ form_row(SelectFormCompo.user) }}
	{{ form_row(SelectFormCompo.army) }}
	{{ form_row(SelectFormCompo.army_points) }}
	<button type="submit" class="btn cta">
        Create army
        </button>
	{{ form_end(SelectFormCompo) }}


{% endblock %}
