{% extends 'base.html.twig' %}

{% block title %}WAB - articles
{% endblock %}

{% block body %}

	<h1>{{ title }}</h1>

	<section class="article">
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<div class="metadata">Write the {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in category Modelism</div>
				<div class="content">
					<img src="{{ article.image }}" alt="">
					{{ article.content | raw }}
				</div>
					<a href="{{ path('article_show', {'id': article.id}) }}" class="btn cta">Read more</a>
					{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('article_edit', {'id': article.id}) }}" class="btn cta">Edit article</a>
					{% endif %}
			</article>
		{% endfor %}


	</section>

{% endblock %}
