{% extends 'base.html.twig' %}

{% block title %}WAB - articles
{% endblock %}

{% block body %}

	<h1>{{ title }}</h1>

	<div class="row mt-5">
		{% for article in articles %}
			<article class="col-lg-6 col-md-6 col-sm-12">
				<h2>{{ article.title }}</h2>
				<div class="metadata">Writed on the
					{{ article.createdAt | date('d/m/Y') }}
					at
					{{ article.createdAt | date('H:i') }}
					in category
					{{ article.category.label }}</div>
				<div class="content">
					<img src="{{ article.image }}" alt="">
					{{ article.content | raw }}
				</div>
				<a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn cta">Read more</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('article_edit', {'slug': article.slug}) }}" class="btn cta">Edit article</a>
				{% endif %}
			</article>
		{% endfor %}
	</div>

	<div class="mt-3 col-6 offset-5">
		<nav class="pagination-sm">
			<ul class="pagination">
				{% for i in 1..((totalArticles/4)|round(0, 'ceil')) %}
					<li class="page-item">
						<a class="page-link" href="{{ path('article', { page: i }) }}">{{ i }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>


{% endblock %}
