{% extends 'base.html.twig' %}

{% block title %}WAB - articles
{% endblock %}

{% block body %}

	<h1>{{ title }}</h1>

	<section class="article">
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<div class="metadata">Writed on the {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in category {{ article.category.label }}</div>
				<div class="content">
					<img src="{{ article.image }}" alt="">
					{{ article.content | raw }}
				</div>
					<a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn cta">Read more</a>
					{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('article_edit', {'slug': article.slug}) }}" class="btn cta">Edit article</a>
					{% endif %}
			</article>
		{% endfor %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="pagination-sm">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

	</section>

{% endblock %}
