{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}
{% endblock %}

{% block body %}
	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">Writed on the {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in category {{ article.category.label }}</div>
		<div class="content">
			<img src="{{ article.image }}" alt="">
			{{ article.content | raw }}
		</div>
		<a href="{{ path('article_edit', {'slug': article.slug}) }}" class="btn cta">Edit article</a>
	</article>
{% endblock %}
